#cards-section{
    background-color: rgb(230, 235, 235);
    padding: 20px 30px;
}

#select-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#order-select{
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

#cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

@media screen and (max-width: 1780px){
    #cards-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1010px){
    #cards-container{
        grid-template-columns: 1fr;
    }
}